---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Ifedolapo Ojo
  </div>
  <div class="inline opacity-75">
    <p>Developed with ❤️ & ☕ by Ifedolapo Ojo</p>
  </div>
</footer>
<style>

</style>
